#heading{
    font-family: cursive;
    font-weight: 900;
    text-align: center;
    color: blue;
    background-color: rgb(212, 18, 50);

}
#form{
    text-align: center;
}
.box1{
    font-family: cursive;
    text-align: center;
    font-weight: 200;
    color: rgb(23, 160, 103);
    
}
fieldset{
    color: rgb(46, 181, 34);
}
#box2{
    font-family: cursive;
    text-align: center;
    font-weight: 250;
    font-size: 20px;
}
.box3{
    font-family: cursive;
}
#date{
    text-align: center;
}
*{
    background-color: rgb(23, 102, 181);
    background-image: none;
}
#button{
    color:blue;
    background-color: rgb(239, 119, 181);
    block-size: 30px;
    margin-block-start: 20px;
}  
#finish{
    text-align: center;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
}
